{{- $class := .class | default "" -}}
{{- $id := .id | default "" -}}
{{- $inner := .content | default "" -}}

{{- if or (eq $inner "") (eq $inner nil) -}}
    {{- $inner = "Empty brick found. Please provide content for both columns, separated by '---'." -}}
{{- end -}}

{{- $columns := split $inner "---" -}}

<section class="image {{ $class }}" {{ if $id }}id="{{ $id }}"{{ end }}>
    <div class="container twocols">
        <div class="column left">
            {{- if ge (len $columns) 1 -}}
                {{- markdownify (index $columns 0) -}}
            {{- end -}}
        </div>
        <div class="column right">
            {{- if ge (len $columns) 2 -}}
                {{- markdownify (index $columns 1) -}}
            {{- end -}}
        </div>
    </div>
</section>
